section {
  margin-top: 2%;
}

form {
  margin-top: 1%;
}

section div img {
  margin-top: 5%;
  width: 130%;
}

.bg-style {
  background-color: #fcfcfc;
  border-radius: 1%;
  padding: 2%;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  section div img {
    display: none;
  }

  h2{
    font-size: 1.2rem;
  }

  .bg-style {
    padding-top: 2% !important;
  }

  h4{
    font-size: 1rem;
  }
}
